<div class="row mt-4">
    <div class="offset-md-1 col-md-10">

        <div class="drac-boc drac-card drac-bg-purple drac-p-md">
            
            <h2 class="drac-heading drac-heading-xl drac-text-white">Añadir nuevo videojuego</h2>

            <div class="row">
                <div class="col-xl-4 col-md-4 col-12 mb-1">
                    <label for="nombre">Nombre</label>
                    <input
                    placeholder="Input"
                    class="drac-input drac-input-white drac-text-white"
                    />
                </div>
        
                <div class="col-xl-4 col-md-4 col-12 mb-1">
                    <label for="nombre">Nombre</label>
                    <input
                    placeholder="Input"
                    class="drac-input drac-input-white drac-text-white"
                    />
                </div>
        
                <div class="col-xl-4 col-md-4 col-12 mb-1">
                    <label for="nombre">Nombre</label>
                    <input
                    placeholder="Input"
                    class="drac-input drac-input-white drac-text-white"
                    />
                </div>
        
                <div class="col-xl-4 col-md-4 col-12 mb-1">
                    <label for="nombre">Nombre</label>
                    <input
                    placeholder="Input"
                    class="drac-input drac-input-white drac-text-white"
                    />
                </div>
        
                <div class="col-xl-4 col-md-4 col-12 mb-1">
                    <label for="nombre">Nombre</label>
                    <input
                    placeholder="Input"
                    class="drac-input drac-input-white drac-text-white"
                    />
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-xl-4 offset-md-8 col-md-4 offset-xl-8 offset-sm-0 col-12 d-grid gap-2">
                    <button type="button"
                        class="drac-btn drac-bg-pink btn-block round">Guardar usuario</button>
                </div>
            </div>
            

        </div>
    </div>
</div>


    


