

<ul class="drac-tabs drac-tabs-white">
  <li class="drac-tab " [routerLinkActive]="['drac-tab-active']">
    <a class="drac-tab-link drac-text" routerLink="/">Inicio</a>
  </li>
  <li class="drac-tab " [routerLinkActive]="['drac-tab-active']">
    <a class="drac-tab-link drac-text" routerLink="/videojuegos">Videojuegos</a>
  </li>
  <li class="drac-tab" [routerLinkActive]="['drac-tab-active']">
    <a class="drac-tab-link drac-text" routerLink="/reseñas">Reseñas</a>
  </li>
</ul>

<router-outlet></router-outlet>
